body {
    background: #0b0b0b;
    color: #eaeaea;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    padding: 40px;
}

.ip {
    font-size: 24px;
    color: #6cff8d;
    margin: 10px;
}
